html, body {
  height: 3000px;
  background-color: #f1f1f1;
  font-family: 'PT Sans', sans-serif;
  color: #1c140d;
  margin: 0;
}

.navBar {
  height: 100%;
  width: 75px;
  position: fixed;
  left: 0;
  background-color: #cbe86b;
  border-right: 3px solid #1c140d;
  transition: width 500ms;
  -webkit-transition: width 500ms;
  z-index: 100;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 1em;
}

#mainContainer {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #ffffff;
}
