/**
 * Palette
 * -------
 * #181818
 * #455860
 * #5e6f76
 * #f1f1f1
 * #ffffff
 */

html, body {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  color: #455860;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}

.navBar {
  height: 100%;
  width: 70px;
  background-color: #455860;
  color: #f1f1f1;
  display: inline-block;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 300;
  transition: width 300ms;
  -webkit-transition: width 300ms;
  z-index: 100;
}

.navBar:hover {
  width: 200px;
}

.navBar ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.navBar ul li {
  height: 70px;
  width: 200px;
  cursor: pointer;
}

.navBar ul li:hover {
  background-color: #f1f1f1;
  color: #455860;
}

.navButton .icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  font-family: 'fontawesome', sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin: 25px;
  text-align: center;
  vertical-align: middle;
}

.navButton .label {
  height: 20px;
  width: 180px;
  display: inline-block;
  line-height: 20px;
}

.mainContainer {
  height: 100%;
  width: calc(100% - 70px);
  background-color: #ffffff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  white-space: normal;
}

.articleContainer {
  height: 370px;
  width: 270px;
  display: inline-block;
  overflow: hidden;
}

.article {
  height: 350px;
  width: 250px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 20px 10px 0;
  transition: box-shadow 300ms, margin-top 300ms;
  -webkit-transition: box-shadow 300ms, margin-top 300ms;
}

.article:hover {
  box-shadow: 0 3px 7px #5e6f76;
  margin-top: 10px;
}

.article img {
  height: 150px;
  width: 100%;
}

.article .contentContainer {
  padding: 5px;
}

.article .title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 5px;
}

.article .date {
  padding: 5px;
}

.article .content {
  padding: 5px;
}

.linkContainer {
  height: 40px;
  padding-top: 10px;
  text-align: center;
}

.linkContainer img {
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}

.linkContainer img:hover {
  opacity: 0.5;
}
